<%= form_for(@firm) do |f| %>
  <% if @firm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@firm.errors.count, "error") %> prohibited this firm from being saved:</h2>

      <ul>
      <% @firm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :firmuser_id %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class = 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class = 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit, :class= 'btn btn-default' %>
  </div>
<% end %>
