
  <div class="firmlist">
    <h1>企業一覧</h1>

    <br>

    <%= will_paginate @firms %>
    <% @firms.each do |firm| %>
      <ul class="thumbnail">
        <li>
        <dl class="clearFix">
          <dt class="photo">
            <a href="#"><%= image_tag firm.logo.url(:thumb) %></a>
          </dt>
          <dt class="title">
            <strong><%= firm.name %></strong>
          </dt>
          <dd><%= truncate(firm.description, length: 80) %></dd><br>
          <%= link_to '詳細を見る', firm_path(firm), :class => "btn btn-primary" %> 
          <%= link_to '気になる', '#', :class => "btn btn-primary" %>
          <% if current_user %>
            <%= link_to 'Message me!', conversations_path(user_id: current_user.id, firmuser_id: firm.firmuser.id), method: 'post' %>
          <% elsif current_firmuser %>
          <% end %>
        </dl>
        </li>
      </ul>
    <% end %>
  </div>
