<div class="firmlist">
<h1>企業詳細</h1>
<p>
  <strong>Name:</strong>
  <%= @firm.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @firm.logo.url(:thumb) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @firm.description %>
</p>

<%= link_to '一覧に戻る', firms_path %> |
<%= link_to '気になる', '#' %> |
<%= link_to 'メッセージを送る', '#' %>
</div>
