<div class="modal-dialog">
<div class="modal-content">
<%= form_for(@profile, remote: true, authenticity_token: true) do |f| %>
  
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">New/Editing product</h4>

    
  </div>

  <div class="modal-body">
    <ul class="errors list-group alert alert-danger hidden">
    </ul>
    

    <%= f.hidden_field :user_id %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :age %><br>
      <%= f.number_field :age, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :picture %><br>
      <%= f.file_field :picture %>
    </div>
    <div class="form-group">
      <%= f.label :university %><br>
      <%= f.text_field :university, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :major %><br>
      <%= f.text_field :major, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %><br>
      <%= f.telephone_field :phone, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bio %><br>
      <%= f.text_area :bio, :class => 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save", :class => "btn btn-primary" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn btn-danger', data: {dismiss: "modal"}  %>      <!-- /modal-footer -->
  </div>
  
<% end %>
</div>
</div>
