

        <!-- Table -->
<table class="table table-condensed">
  <caption>学生一覧</caption>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>University</th>
      <th>Major</th>
      <th>Phone</th>
      <th>Bio</th>
      <th>詳細</th>
      <th>気になる！ボタン</th>
      <th>メッセージを送る</th>
    </tr>
  </thead>
  <tbody>
  <% @profiles.each do |profile|%>
    <tr>
      <td><%= profile.user.id %></td>
      <td><%= profile.name %></td>
      <td><%= profile.age %></td>
      <td><%= profile.university %></td>
      <td><%= profile.major %></td>
      <td><%= profile.phone %></td>
      <td><%= truncate(profile.bio, length: 30) %></td>
      <td><%= link_to '詳細を見る', user_path(profile.user.id) %>
      <td><%= link_to '気になる', '#', :class => 'btn btn-info' %></td>
      <td><%= link_to 'Message me!', conversations_path(user_id: profile.user.id, firmuser_id: current_firmuser.id), method: 'post', :class => "btn btn-primary" %></td>
    </tr>
  <% end %>

  </tbody>
  <%= will_paginate @profiles, :renderer => BootstrapPagination::Rails %>

</table>