

        <!-- Table -->
<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>University</th>
      <th>Major</th>
      <th>Phone</th>
      <th>Bio</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user|%>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.profile.name %></td>
      <td><%= user.profile.age %></td>
      <td><%= user.profile.university %></td>
      <td><%= user.profile.major %></td>
      <td><%= user.profile.phone %></td>
      <td><%= user.profile.bio %></td>
    </tr>
  <% end %>

  </tbody>
</table>