<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        ENLIGHT
      </a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarEexample7">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to 'ログインアカウント変更', edit_user_registration_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path %></li>
          <li><%= link_to 'ホーム', profile_path(current_user.id) %></li>
        <% elsif firmuser_signed_in? %>
          <li><%= link_to 'ログインアカウント変更', edit_firmuser_registration_path %></li>
          <li><%= link_to 'ログアウト', destroy_firmuser_session_path %></li>
          <li><%= link_to 'ホーム', users_path %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
      
      <p class="navbar-text navbar-right notice"><%= notice %></p>
      <p class="navbar-text navbar-right alert"><%= alert %></p>
    </div>
  </div>
</nav>
</header>