<div class="sidebar"> 
  <div class="sidebar-profile">
    <div class="heading">
      <h3>ユーザー情報</h3>
    </div>
    <ul class="profile-list">
      <li>
        <strong>User:</strong><br>
        <%= current_user.id %>
      </li>
      <li>
        <strong>Name:</strong><br>
        <% if current_user.profile.name.blank? %>
          <%= "未登録" %>
        <% else %>
          <%= current_user.profile.name %>
        <% end %>
      </li>
      <li>
        <strong>Age:</strong><br>
        <% if current_user.profile.age.blank? %>
          <%= "未登録" %>
        <% else %>
          <%= current_user.profile.age %>
        <% end %>
      </li>
      <li>
        <strong>University:</strong><br>
        <% if current_user.profile.university.blank? %>
          <%= "未登録" %>
        <% else %>
          <%= current_user.profile.university %>
        <% end %>
      </li>
      <li>
        <strong>Major:</strong><br>
        <% if current_user.profile.major.blank? %>
          <%= "未登録" %>
        <% else %>
          <%= current_user.profile.major %>
        <% end %>
      </li>
      <li>
        <strong>Phone:</strong><br>
        <% if current_user.profile.phone.blank? %>
          <%= "未登録" %>
        <% else %>
          <%= current_user.profile.phone %>
        <% end %>
      </li>
      <li>
        <strong>Bio:</strong><br>
        <% if current_user.profile.bio.blank? %>
          <%= "未登録" %>
        <% else %>
          <%= current_user.profile.bio %>
        <% end %>
      </li>    
    </ul>
  </div>

  <div class="sidebar-menu">
    <ul class="nl">
      <li class="profile-edit">
        <% if current_page?(profile_path(current_user)) %>
          <%= link_to 'プロフィールを編集する', edit_profile_path(@profile) %>
        <% else %>
          <%= link_to '戻る', profile_path(current_user.id) %>
        <% end %>
      </li>
      <li><%= link_to '企業を見る', firms_path %></li>
      <li><a href="#">メニュー項目2</a></li>
      <li><a href="#">メニュー項目3</a></li>
      <li><a href="#">メニュー項目4</a></li>
    </ul>
  </div>
</div>


