<!DOCTYPE html>
<html>
<head>
  <title>Enlight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= render partial: "layouts/header" %>
  </div>
  <div class="main">
    <% if current_user %>
      <% if current_user.profile %>
        <%= render partial: "layouts/sidebar" %>
      <% end %>
    <% elsif current_firmuser %>
      <% if current_firmuser.firm %>
        <%= render partial: "layouts/sidebar2" %>
      <% end %>
    <% end %>
    <div class="contents">
      <%= yield %>
    </div>
  </div>
  <%= render partial: "layouts/footer" %>
</body>
</html>
  