<!DOCTYPE html>
<html>
<head>
  <title>Enlight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= render partial: "layouts/header" %>
  </div>
  <div class="main">
    <% unless current_user.profile.nil? %>
      <%= render partial: "layouts/sidebar" %>
    <% end %>
    <div class="contents">
      <div class="content-left">
        <%= yield %>
      </div>
      <div class="content-right">
        <div class="content-right-top">
          
        </div>
        <div class="content-right-bottom">
          <%= link_to "メッセージを送る" , '#' %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "layouts/footer" %>
</body>
</html>
  