<!DOCTYPE html>
<html>
<head>
  <title>Enlight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%= render partial: "layouts/header" %>
  </div>
  <div class="main">
    <div class="main-left">
      <%= render partial: "layouts/sidebar" %>
    </div>
    <div class="contents">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>件の新着メッセージがあります。</p>
        </div>
      </div>
      <div class="content-left">
        <%= yield %>
      </div>
      <div class="content-right">
        <div class="content-right-top">
          
        </div>
        <div class="content-right-bottom">
          <%= link_to "メッセージを送る" , conversations_path %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "layouts/footer" %>

  <div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</body>
</html>
  